code_start:
{{prog_header}}
{{algo.format_algo_data(0, 8, "c")}}
code_end:

algo_start:
{{'0x%08x' % (algo.symbols['Init'] + header_size + entry)}},
{{'0x%08x' % (algo.symbols['UnInit'] + header_size + entry)}},
{{'0x%08x' % (algo.symbols['EraseChip'] + header_size + entry)}},
{{'0x%08x' % (algo.symbols['EraseSector'] + header_size + entry)}},
{{'0x%08x' % (algo.symbols['ProgramPage'] + header_size + entry)}},
{{'0x%08x' % (entry + 1)}},
{{'0x%08x' % (entry + header_size + algo.rw_start)}},
{{'0x%08x' % stack_pointer}},
{{'0x%08x' % (entry + 2560)}},
{{'0x%08x' % entry}},
{{'0x%08x' % algo.page_size}}
algo_end: